<!-- <div class="p-shadow-7">
  <mat-card>
    <mat-card-title>Special #2</mat-card-title>
    <mat-card-subtitle>HALF CLASSIC HOAGIE WITH FRIES & CAN OF POP</mat-card-subtitle>
      <p class="exclusions">(EXCLUDES SUPREME)</p>
        <mat-divider></mat-divider>
      <p class="price">9.29 + tax</p>
      <p class="tcs">
        Must mention when ordering. Not valid with other offers. Limited time offer.
      </p>
  </mat-card>
</div> -->
<div class="p-mb-2 p-mr-2">
  <div class="coupon p-text-center p-shadow-7">
    <p-card *ngFor="let coupon of coupons">
      <p>{{ coupon.special }}</p>
      <p> {{ coupon.deal }}</p>
        <p class="exclusions">{{ coupon.exclusion }}</p>
          <mat-divider></mat-divider>
        <p class="price">{{ coupon.price }} + tax</p>
        <p class="tcs">
          Must mention when ordering. Not valid with other offers. Limited time offer.
        </p>
    </p-card>
  </div>
</div>



