<!-- Header -->
<!-- <app-header></app-header> -->

<!-- <mat-toolbar>
  <span>Gavino's Pizzeria</span>
</mat-toolbar>


<h1>This should be the homepage</h1>
<p> Right now this will be a test page for the coupons</p> -->


<!-- Coupon template - This should become it's own component -->
<!-- <div class="p-d-flex p-flex-column p-flex-md-row">
  <div class="p-mb-4">
    <app-coupon></app-coupon>
  </div> -->
  <!-- <div class="p-mb-4"><app-coupon></app-coupon></div>
  <div class="p-mb-4"><app-coupon></app-coupon></div> -->
<!-- </div> -->


<!-- <div class="p-d-flex">
  <div class="p-mr-2">Item 1</div>
  <div class="p-mr-2">Item 2</div>
  <div>Item 3</div>
</div>



<div class="p-d-flex p-flex-column p-flex-md-row">
  <div class="p-mb-2 p-mr-2">Item 1</div>
  <div class="p-mb-2 p-mr-2">Item 2</div>
  <div class="p-mb-2 p-mr-2">Item 3</div>
</div> -->


<!-- <button pButton pRipple
  type="button"
  label="Add Coupon"
  class="p-button-raised p-button-help"
  [disabled]="!allowNewCoupon"
  (click)="onCreateCoupon()"></button> -->

<!--
  TODO: Create a model for the coupons
  TODO: Create a model for store hours
  TODO: Create a model for each of the different menu items, this is probably going to be the most difficult
-->

{{ title }}
<app-specials-list></app-specials-list>
